.travel-it-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20px 150px 1fr auto;
    border: 2px solid green;
    padding: 40px 20px;
}

.travel-it-block > div > span {
    width: 60px;
    height: 60px;
    background: green;
    display: inline-block;
    border-radius: 100%;
    margin-top: 40px;
    margin-left: -50px;
    padding-top: 12px;
    text-align: center;
    color: white;
}

.travel-it-block .content-info {
    
}

.travel-it-block .services-info {
    margin: 0 0 10px 0;
    font-size: 0.85em;
}

.travel-it-block .services-info p {
    display: flex;
    align-items: baseline;
}

.travel-it-block .services-info p span {
    width:10px;
    height: 10px;
    background: green;
    border: 2px solid pink;
    display: flex;
    border-radius: 100%;
    align-self: flex-end;
}